html{
    background: #D3D3D3;
} 
main{
     background: #D3D3D3;
}
body{
    background: #D3D3D3;
    overflow: hidden;
}


.rty{
    width: 50%;
    height: 100%;
    position: fixed;
}

.qwe{
    width: 50%;
    height: 56vw;
    float: right;
}

.container h3{
    margin-top: 0%;
}

.ft1{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
}

.ft2 {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
    text-align: end;
}
.fx_bot{
    vertical-align: bottom;
}
.c_ard{
    margin: auto;
    margin-top: 10%;
    box-shadow: 0 0 50px #757f9a;
}
.c_ard:hover{
    box-shadow: 0 0 75px #757f9a;
}

.navbar a{
    color: black;
}
.container{
    margin-top: 20px;
    margin-left: 10px;
    /* margin: auto; */
}
.about{
    margin-top: 70px;
}
.carousel{
    margin-top: 10px;
}
.c_ont{
    margin-top: 10%;
}
.c_on{
    margin-top: 5%;
}

.gallery_block{
    margin: auto;
    margin-top: 40px;
    width: 640px;
    height: 477px;
    background-color: #c0c0c0;
    border-radius: 10px;
    box-shadow: 0 0 50px #757f9a;
}
.gallery_block:hover{
    box-shadow: 0 0 75px #757f9a;
}

.image_1{
    margin: auto;
    margin-top: 10px;
    width: 640px;
    height: 427px;
    border-radius: 10px;
    background-image: url(../Images/image_1.jpg);
    transition: all ease 1.5s;
}

.image_2{
    margin: auto;
    margin-top: 10px;
    width: 640px;
    height: 426px;
    border-radius: 10px;    
    background-image: url(../Images/image_2.jpg);
    transition: all ease 1.5s;
}

.image_3{
    margin: auto;
    margin-top: 10px;
    width: 640px;
    height: 426px;
    border-radius: 10px;    
    background-image: url(../Images/image_3.jpg);
    transition: all ease 1.5s;
}





